<div class="row">
  <p>Python, Shell, and Git comprise a "complete" Carpentries workshop, though you must <a href="https://libcal.missouri.edu/calendar/workshops/?cid=35&t=g&d=0000-00-00&cal=35&ct=48115&inc=0">register for each separately.</a></p>
  <div class="col-md-6">
    <h3>October 8 (Python part 1)</h3>
    <table class="table table-striped">
      <tr> <td>01:00</td>  <td>Building Programs with Python (variables, data types, built-in functions)</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Building Programs with Python (libraries, dataframes, Pandas, plotting)</td> </tr>
      <tr> <td>4:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>October 15 (Python part 2)</h3>
    <table class="table table-striped">
      <tr> <td>01:30</td>  <td>Building Programs with Python (lists, for-loops, conditionals)</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td>Building Programs with Python (writing functions, programming style, putting it all together for data processing)</td> </tr>
      <tr> <td>4:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <!--
  <div class="col-md-6">
    <h3>(Shell)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>(Git)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  -->
</div>
